body {
    font-family: "roboto";
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;

    // @media (min-width: 481px) and (max-width: 992px) {
    //     min-width: auto;
    // }
    // @media (max-width: 480px) {
    //     min-width: 320px;
    // }
}