.footer {
    padding-top: 66px;
    padding-bottom: 70px;
    background: #000000;
    &__title {
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
        color: #FEFEFE;
        @media (max-width: 480px) {
            font-size: 14px;
        }
    }
    &__text {
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        line-height: 28px;
        margin-top: 22px;
        margin-bottom: 37px;
        color: #B9B9B9;
        @media (max-width: 480px) {
            font-size: 12px;
            line-height: 20px;
        }
    }
    &__links {
        @include flex-center;
        gap: 6px;
    }
    &__contacts {
        margin-top: 34px;
        @include flex-center;
        flex-wrap: wrap;
        @media (max-width: 480px) {
            flex-direction: column;
            row-gap: 10px;
        }
    }
    & .container {
        @include flex-center;
        flex-direction: column;
    }
}

.contact {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #B9B9B9;
    &--address::after {
        content: "/";
        margin-left: 10px;
        margin-right: 10px;
    }
    &--number::after {
        content: "/";
        margin-left: 10px;
        margin-right: 10px;
    }
}

