.instagram {
    margin-top: 69px;
    padding-top: 47px;
    padding-bottom: 49px;
    background: #F5F5F5;

    &__titles {
        h2 {
            font-weight: 700;
            text-transform: uppercase;
            color: #4E4E4E;
            margin: 0;
        }
        
        margin-bottom: 24px;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__shots {
        font-size: 16px;
        @media (max-width: 480px) {
            font-size: 14px;
        }
    }
    &__page {
        font-size: 13px;
        @media (max-width: 480px) {
            display: none;
        }
    }
    &__photos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        @media (min-width: 481px) and (max-width: 992px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 480px) {
            grid-template-columns: 1fr;
        }
        & img {
            width: 100%;
            height: auto;
            &:nth-child(4) {
                @media (min-width: 481px) and (max-width: 992px) {
                    display: none;
                }
            }
            &:nth-child(n+2) {
                @media (max-width: 480px) {
                    display: none;
                }
            }
        }
    }
}