@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin list-reset {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

@mixin button-reset {
    padding: 0;
    border: none;
}

@mixin header-button-line {
    width: 17px;
    height: 2px;
    background: #FFFFFF;
}