.main-header__container {
    margin-top: 43px;
    margin-bottom: 43px;
    @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
        margin-top: 23px;
    }
}

.main-header__nav {
    @include list-reset;
    @include flex-center;
    column-gap: 68px;
    overflow: hidden;
    transition: 1s;

    @media (min-width: 481px) and (max-width: 992px) {
        justify-content: space-evenly;
        column-gap: 0;
    }
    // @media (min-width: 481px) and (max-width: 992px) {
    //     gap: 34px;
    // }
    @media (max-width: 480px) {
        display: flex;  
        padding: 5px 0 5px 12px;
        flex-direction: column;
        row-gap: 8px;
        align-items: flex-start;
        position: absolute;
        top: 37px;
        right: 0;

        width: 170px;
        height: 196px;
        background: #F5F5F5;
    }
    &.nav--closed { 
        @media (max-width: 480px) {
            height: 0;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

.nav {
    &__item {
        display: block;
    }
    &__link{
        font-weight: 400;
        font-size: 11px;
        text-transform: uppercase;

        color: #4E4E4E;

        &--active {
            color: #57A4A4;
        }
    }
}

.drop {
    display: none;
    @include button-reset;
    width: 44px;
    height: 37px;
    background: #000000;
    position: relative;


    @media (max-width: 480px) {
        @include flex-center;
        flex-direction: column;
        row-gap: 2px;
    }

    .drop__line {
        @include header-button-line;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transition: .3s;
        &:nth-child(odd) {
            transform: translate(-50%, -50%) rotate(45deg);
        }
        &:nth-child(even) {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
    &.closed {
        .drop__line {
            &:nth-child(1) {
                transform: translate(-50%, calc(-50% - 4px));
            }
            &:nth-child(2) {
                transform: translate(-50%, -50%);
            }
            &:nth-child(3) {
                transform: translate(-50%, calc(-50% + 4px));
            }
        }
    }
}