.post {
    margin-top: 66px;

    &__title {
        margin-top: 0;
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase;
    
        color: #4E4E4E;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 50px;
        row-gap: 32px;

        @media (min-width: 481px) and (max-width: 992px) {
            grid-template-columns: 1fr;
        }
        @media (max-width: 480px) {
            grid-template-columns: 1fr;
        }
    }
    &__item {
        display: flex;
        column-gap: 20px;

        &:nth-child(4) {
            @media (max-width: 480px) {
                display: none;
            }
        }
        @media (min-width: 481px) and (max-width: 992px) {
            max-width: 555px
            ;
        }
        @media (max-width: 480px) {
            flex-direction: column;
            row-gap: 11px;
        }
    }
}

.description {
    &__title {
        margin: 0;
        padding: 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        color: #4E4E4E;
        @media (max-width: 480px) {
            font-size: 14px;
        }
    }
    &__comments {
        margin: 0;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: #7C7C7C;
        @media (max-width: 480px) {
            font-size: 11px;
        }
    }
    &__text {
        margin: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;

        color: #5C5C5C;
        @media (max-width: 480px) {
            display: none;
        }
    }
}

